{% extends "app/base.html" %}
{%block title %}Home{%endblock title%}
{%block content%}
<div class="container mt-5">
    <h3 class="text-center mt-2">Task Manager</h3>
    <div class="row mt-2">
        <!-- Form Section -->
        <div class="col-md-6">
            <h2>Add New Task</h2>
           {% csrf_token %}
            <form id="taskForm" action= "" method="POST">
                <div class="form-group">
                    <label for="taskName">Task Name</label>
                    <input type="text" class="form-control" id="taskName" required>
                </div>
                <div class="form-group">
                    <label for="taskDescription">Task Description</label>
                    <textarea class="form-control" id="taskDescription" rows="3" required></textarea>
                </div>
                <div class="form-group">
                    <label for="taskDeadline">Deadline</label>
                    <input type="datetime-local" class="form-control" id="taskDeadline" required>
                </div>
                <button type="submit" class="btn btn-primary mt-2">Add Task</button>
            </form>
        </div>
        <!-- Task List Section -->
        <div class="col-md-6">
            <h2>Task List</h2>
            <ul class="list-group" id="taskList">
                <!-- Task items will be added here -->
            </ul>
        </div>
    </div>
</div>
{%endblock content%}

