<h2>Task List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">S.No.</th>
      <th scope="col">Name of Task</th>
      <th scope="col">Description</th>
      <th scope="col">Deadline</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% if tasks|length > 0 %} 
      {% for task in tasks %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{ task.name }}</td>
      <td>{{ task.desc }}</td>
      <td>{{ task.deadline }}</td>
      <td class="d-flex"> 
        <button class="btn btn-primary m">update</button>
        <button class="btn btn-danger">delete</button>
      </td>
    </tr>
      {% endfor %} 
    {% else %}
    <tr>
      <td colspan="4">No tasks available.</td>
    </tr>
    {% endif %}
  </tbody>
</table>
